.up-var{
    position: fixed;
    width: 100vw;
    height: 6vh;
    background-color: #4E3128;
    z-index: 5;
    padding: 5px;
    /* padding: 0; */
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-bottom: #FFD25D 10px solid;
    padding-bottom: 10px;
    /* box-sizing: content-box; */
    box-shadow: 0px 2px 5px rgb(0, 0, 0 , 0.4);
    z-index: 10;
    
}
.down-con{
    position: fixed;
    width: 100vw;
    height: 25vh;
    background-color: rgb(45, 56, 104);
    bottom: -22.5vh;
    z-index: 5;
}
.qus-con{
    position: fixed;
    width: calc(100vw - 20vw - 24vw - 2vw);
    right: calc(24vw + 1vw);
    background-color: rgba(255, 227, 194, 0.7);
    height: 12vh;
    bottom: calc(25vh - 22.5vh + 5vh);
    z-index: 5;
    border-radius: 25px;
    /* opacity: 0.6; */
}
.left-con{
    display: flex;
    position: fixed;
    width: 20vw;
    background-color:antiquewhite;
    height: calc(100vh - 6vh - 25vh + 22.5vh);
    top: 6vh;
    left: 0vw;
    z-index: 5;
}
.right-con{
    position: fixed;
    width: 24vw;
    background-color:#815649;
    height: calc(100vh - 6vh - 25vh + 22.5vh);
    top: 6vh;
    right: 0vw;
    z-index: 5;
}
.qus{
    width: 100%;
    height: 30%;
    text-align: center;
    padding-top: 10px;
}
.options-con{
    width: 100%;
    height: 70%;
    padding-left: 20px;
    /* padding-right: 10px; */
}
.input-message-con{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;

    display: flex;
    position: fixed;
    width: calc(100vw - 20vw - 24vw - 2vw);
    right: calc(24vw + 1vw);
    background-color: rgb(107, 85, 58);
    height: 5vh;
    bottom: calc(25vh - 22.5vh);
    z-index: 5;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}
.qus-text-con{
    padding: 5px;
}
.qus-text-state{
    text-align: right;
}
.up-text{
    font-size: 24px;
    text-align: right;
}
