/* ----------------以下為對話框------------------ */

#chatroom-parent{
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
}

#message-con{
    margin-top: 2px;
    margin-bottom: 2px;
}
hr{
    margin-top: 0px;
    margin-bottom: 2px;
}

.message-username{
    font-weight:bold;
    font-size: 13px;
}
.message-username-self{
    font-weight:bold;
    color:#30705D;
    font-size: 13px;
}
.message-username-self-con{
    /* font-weight:bold; */
    /* color:#30705D; */
    background-color: rgb(240, 240, 240);
    /* font-size: 13px; */
}
.message-time{

    color: gray;
    font-size: 12px;
}
.message{
    /* padding-left: 7px; */
    font-size: 13px;
    padding-bottom: 3px;
}
/* .tab-content{ */
    /* height: 95%; */
/* } */
#chatroom-Tab-Content{
    padding: 5px;
    height: 95%;
}
#chatroom{
    height: 100%;
}
#chatroom-con{
    max-height: 100%;
    overflow-y: auto;
    word-break: break-all;
}
#message-input{
    width: 100%;
    border-radius: 50px;
    border-style: solid;
    border-color: #000;
    padding: 3px;
    padding-left: 13px;
    padding-right: 13px;
    height: 35px;
}
.color-btn{
    margin-right: 5px;
    border: 1px solid;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
}
.color-btn:hover{
    filter: brightness(0.8);
}
#down-var{
    float: right;
}

/* ----------------以上為對話框---------------- */


/* 彈幕 */
.barrage-container {
    position: absolute;
    top: 8vh;
    height: 35vh;
    width: 100vw;
    overflow: hidden;
    z-index: 4;
    pointer-events: none;
  }

.barrage {
    font-weight:bold;
    position: absolute;
    font-size: 30px;
    /* color: rgb(255, 255, 255); */
    white-space: nowrap;
    z-index: 4;
    pointer-events:all;
    /* -webkit-text-stroke: 1px #000000; */
    text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


/* ------------鏡頭 ---------------*/
.camera-con{
    width: 100%;
    height: 90%;
    flex-wrap: nowrap;
    display: flex;
    overflow-x: auto;
}
.camera{
    flex: 0 0 15vw;
    width: 18vw;
    height: calc(100% - 35px );
    background-color: #000;
    opacity: 0.5;
    margin: 15px 15px 20px 15px;
}

/* -------成員-------- */
#members-con{
    max-height: 100%;
    overflow-y: auto;
    word-break: break-all;
    box-sizing: border-box;
}
#member{
    height: 100%;
    box-sizing: border-box;
}
#header{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100px;
    background-color: gray;
}
#member-con{
    margin-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.member-username{
    font-weight:bold;
    font-size: 16px;
    
}
.member-username-self{
    font-weight:bold;
    color:#30705D;
    font-size: 16px;
}
.member-username-self-con{
    /* font-weight:bold; */
    /* color:#30705D; */
    background-color: rgb(240, 240, 240);
    /* font-size: 13px; */
}
.member-lv{
    /* padding-left: 7px; */
    font-size: 14px;
    
}

/* ----------------以下為左邊題目------------------ */

#qustion-parent{
    background-color: white;
    border-radius: 10px;
    /* margin: 15px; */
    padding: 20px;
    /* height: calc(100% - 30px); */
    height: 100%;
    width: 100%;
    /* width: calc(100% - 30px); */
}

#message-con{
    margin-top: 2px;
    margin-bottom: 2px;
}
hr{
    margin-top: 0px;
    margin-bottom: 2px;
}
.qus-bank{
    cursor: pointer;
    user-select: none;
}
.qus-left-con{
    cursor: pointer;
    user-select: none;
}
.qus-bank-name{
    /* padding-left: 7px; */
    font-size: 20px;
    padding-bottom: 3px;
}
.qus-left-con{
    /* padding-left: 7px; */
    font-size: 20px;
    padding-bottom: 3px;
}
/* .tab-content{ */
    /* height: 95%; */
/* } */
#qustion-Tab-Content{
    padding: 5px;
    height: 95%;
}
#qustion{
    height: 100%;
}
#qustionbank-con{
    max-height: calc(100% - 35px);
    overflow-y: auto;
    word-break: break-all;
}
#message-input{
    width: 100%;
    border-radius: 50px;
    border-style: solid;
    border-color: #000;
    padding: 3px;
    padding-left: 13px;
    padding-right: 13px;
    height: 35px;
}
.color-btn{
    margin-right: 5px;
    border: 1px solid;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
}
.color-btn:hover{
    filter: brightness(0.8);
}
#down-var{
    float: right;
}
.qus-con{
    max-height: 100%;
    overflow-y: auto;
    word-break: break-all;
}
.qusbank-choose{
    background-color: rgb(217, 227, 241);
}
.qus-inleft-parent{
    max-height: calc(100% - 35px - 36px);
    height: calc(100% - 35px  - 36px);
    overflow-y: auto;
    word-break: break-all;
}
.qus-name{
    font-size: 20px;
}
.qus-left-con-choose{
    background-color: rgb(217, 227, 241);
}
#qustionbank-title{
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid;
    padding: 2px;
}
#qustion-title{
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid;
    padding: 2px;
}
#qustion-left-bottom{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 3px;
    /* position: absolute; */
    bottom: 0;
}