*{
    margin: 0;
}
h1{
    margin: 0;
    margin-right: 35px;
    font-weight: 600;
    font-size: 60px;
}
h4{
    margin-bottom: 3px;
    font-size: 36px;
}
#bg{
    background-color: antiquewhite;
    padding: 5vh 7vw;
    height: 100vh;
}
.header{
    width: 30vh;
    height: 30vh;
    border-radius: 1000px;
    background-color: brown;
}
.personal-infor{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: start;
}
.name-and-LV{
    display: flex;
    align-items: end;
    margin-bottom: 50px;
}
.up-bar-btn-con{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    height: 100%;
}
.room-btn{
    padding: 3px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
button{
    font-size: 18px;
}
.board-con{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: white;
    margin: 20px;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    /* overflow-y: auto; */
    max-height: 100%;
    
}
.board-con-2{
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0px;
    overflow: hidden;
    overflow-y: auto;
    max-height: 50vh;
    padding: 0;
    
}
#room-board{

}
#information-board{

}
.room-board-con{
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    background-color: white;
    font-size: 20px;
    text-align: center;

}
#input-room-id{
    border-radius: 100px;
    margin: 10px 10px;
    padding: 0px 10px;
    margin-right: 0;
    width: calc(100% - 25% - 15px);
    margin-right: 15px;
}
#join-room-submit{
    padding: 2px 10px;
    border-radius: 10px;
    width: calc(25% - 30px);
}
.align-items-center > * {
    text-align: center;
}
.room-board-con:hover{
    filter: brightness(0.9);
}
.line-clamp-1{
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    text-overflow:hidden;
    overflow:hidden;
    -webkit-line-clamp: 1;
}
.line-clamp-2{
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    text-overflow:hidden;
    overflow:hidden;
    -webkit-line-clamp: 2;
}
.line-clamp-3{
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    text-overflow:hidden;
    overflow:hidden;
    -webkit-line-clamp: 3;
}